@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts {
    <script type="text/javascript" src="/Scripts/tinymce/jquery.tinymce.min.js"></script>
    @Scripts.Render("~/bundles/gallery")
}

<div id="GalleryContent"
     data-addgallery-url="@Url.Action("AddGallery", "Admn")"
     data-deletegallery-url="@Url.Action("DeleteGallery", "Admn")"
     data-newgallery-url="@Url.Action("GallerySettings","Admn")"
     data-getcustomeditorobjects-url="@Url.Action("CustomEditorObjects", "Website")"
     data-getdomainslist-url="@Url.Action("GetDomainsList", "Admn")"
     data-updategallery-url="@Url.Action("UpdateGallery", "Admn")"
     data-getgallery-url="@Url.Action("GallerySettings", "Admn")"
     data-togglevisibility-url="@Url.Action("ToggleGalleryVisibility","Admn")"
     data-deletegalleryversion-url="@Url.Action("DeleteGalleryVersion", "Admn")"
     data-savegalleryorder-url="@Url.Action("SaveGalleryOrder","Admn")"
     data-screengrab-url="@Url.Action("GalleryScreenGrab","Admn")"
     data-previewgalleryversion-url="@Url.Action("Preview", "Admn")"
     data-approvegallery-url="@Url.Action("ApproveGalleryVersion", "Admn")"
     data-categorycssfiles="@ViewBag.CategoryCSSFile"
     data-getgalleryimage-url="@Url.Action("GalleryImage", "Admn")"
     data-deletegalleryimage-url="@Url.Action("DeleteGalleryImage","Admn")"
     data-saveimageorder-url="@Url.Action("SaveGalleryImageOrder","Admn")"
     data-savegalleryimage-url="@Url.Action("SaveGalleryImage", "Admn")"
     data-getcategories-url="@Url.Action("GetGalleryCategories", "Admn")"
     data-getcategory-url="@Url.Action("GetGalleryCategory", "Admn")"
     data-savecategory-url="@Url.Action("SaveGalleryCategory","Admn")"
     data-deletecategory-url="@Url.Action("DeleteGalleryCategory","Admn")"
     data-getcustomer-url="@Url.Action("GetCustomerInfo","Admn")"
     data-getallcustomers-url="@Url.Action("GetCustomers","Admn")"

     data-gettags-url="@Url.Action("GetGalleryTags", "Admn")"
     data-getimagetags-url="@Url.Action("GetImageTags", "Admn")"
     data-addtag-url="@Url.Action("AddGalleryTag", "Admn")"
     data-addimagetag-url="@Url.Action("AddImageTag", "Admn")"
     data-deletetag-url="@Url.Action("DeleteGalleryTag", "Admn")"
     data-savetags-url="@Url.Action("SaveGalleryTags", "Admn")"

     >
    <div class="leftMenuContainer fourBtns">
        <div class="btnGreyMenu" data-bind="click: onNewGallery">New Gallery Item</div>
        <div class="btnGreyMenu short" data-bind="click: onSaveOrder"><span id="orderIndicator" class="icon-ok"></span>Save Sort Order</div>
        <select data-bind="options: domains, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'All domains', value: lDomainID, event: { change: onLDomainChange }"></select>
        @Html.Partial("~/Views/Partials/Loader.cshtml")
    </div>
    <div class="mainContainer">
        @Html.Action("GallerySettings", "Admn")
    </div>

    <div id="GalleryCategoryDialog" class="sectionContent hidden">
        <form id="GalleryCategoryForm" data-bind="with: currentGalleryCategory">
            <input type="hidden" id="GalleryCategoryID" name="GalleryCategoryID" data-bind="value: GalleryCategoryID" />
            <div>
                <label for="dTitle">Title</label>
                <input id="dTitle" name="Title" type="text" data-bind="value: Title" />
            </div>
            <div class="btnContainer">
                <input type="button" id="btnNewGalleryCategory" name="NewGalleryCategory" class="btnGreen" value="Add Gallery Category" data-bind="click: $root.onSubmitGalleryCategory, visible: GalleryCategoryID() == 0" />
                <input type="button" id="btnSaveGalleryCategory" name="SaveGalleryCategory" class="btnGreen" value="Update Gallery Category" data-bind="click: $root.onSubmitGalleryCategory, visible: GalleryCategoryID() > 0" />
                <input type="button" id="btnDeleteGalleryCategory" name="DeleteGalleryCategory" class="btnRed" value="Delete Gallery Category" data-bind="click: $root.onDeleteGalleryCategory, visible: GalleryCategoryID() > 0" />
                <input type="button" id="btnCancel" name="Cancel" class="btnRed" value="Cancel" data-bind="click: $root.onCloseGalleryCategoryDialog" />
            </div>
        </form>
    </div>

    <div id="ImagePreviewDialog" class="sectionContent hidden">

    </div>

</div>
