@model List<CMS.BL.Entity.tbl_Products>
@if (Model != null && Model.Count() > 0)
{
    <h3>Featured Products</h3>
    foreach (CMS.BL.Entity.tbl_Products product in Model)
    {
        <a href="@String.Format("/{0}/{1}", ViewBag.ShopUrl, product.tbl_SiteMap.SM_URL.Trim('/'))" title="@product.P_Title">
            @if (product.tbl_ProductImageLink.Count > 0)
            {
                    <img alt="@product.tbl_ProductImageLink.FirstOrDefault().tbl_ProductImages.I_View" src="@Html.ImageProvider(CMS.BL.ImageVersionName.productThumb, product.tbl_ProductImageLink.FirstOrDefault().tbl_ProductImages.I_Name, String.Empty)" />
            }
            <p>@product.P_Title</p>
        </a>
    }
}


