@model List<CMS.BL.Entity.tbl_Portfolio>
@if (ViewBag.DynamicLayout != null)
{
    Layout = ViewBag.DynamicLayout;
}
@{
    ViewBag.Title = "Portfolio";
    CMS.BL.Entity.tbl_Content portfolioPage = ViewBag.PortfolioPage as CMS.BL.Entity.tbl_Content;
}
@section metatags {
    @{ Html.RenderPartial("/Views/Partials/MetaTags.cshtml", new CMS.UI.Models.MetadataModel(portfolioPage)); }
}
@section styles {
    @Html.Raw(portfolioPage != null ? portfolioPage.tbl_SiteMap.SM_CSS : String.Empty)
}
@section sidebar {
    @{
        Html.RenderPartial("../Partials/SearchPanel");
        Html.RenderAction("BasketSummary", "Website");
        Html.RenderAction("ContactUsPartial", "Website");
    }
}
@if (portfolioPage != null && ViewBag.Content != null)
{
    <div class="siteContent">
        @Html.Partial("~/Views/Partials/ContentPartial.cshtml", ViewBag.Content.HtmlElements as List<object>)
    </div>
}
@{string lastPortfolioCatTitle = "";}
@foreach (var portfolio in Model)
{
    if (portfolio.tbl_PortfolioCategory.POC_Title != lastPortfolioCatTitle)
    {
        <h2>@portfolio.tbl_PortfolioCategory.POC_Title</h2>
    }
    <div>
        <h3><a href="@(ViewBag.PortfolioUrl + portfolio.tbl_SiteMap.SM_URL)">@portfolio.PO_Title</a></h3>
        <img src="@CMS.Utils.Drawing.ScreenGrab.url2png_v6(CMS.UI.SettingsManager.Url2Png.Key, CMS.UI.SettingsManager.Url2Png.Secret, portfolio.PO_Link, "png", 300)" alt="Screenshot of @portfolio.PO_Link" />
     </div>
     lastPortfolioCatTitle = portfolio.tbl_PortfolioCategory.POC_Title;
}